[submodule "org-brain"]
	path = private/org-brain
	url = https://github.com/Kungsgeten/org-brain.git
[submodule "private/ov-highlight"]
	path = private/ov-highlight
	url = https://github.com/jkitchin/ov-highlight.git
[submodule "private/geeknote"]
	path = private/geeknote
	url = https://github.com/pipakin/geeknote.git
[submodule "s"]
	path = private/emacs-geeknote
	url = https://github.com/avendael/emacs-geeknote.git
[submodule "private/emacs-rime"]
	path = private/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "private/company-ess"]
	path = private/company-ess
	url = https://github.com/Lompik/company-ess.git
[submodule "private/cpputils-cmake"]
	path = private/cpputils-cmake
	url = https://github.com/redguardtoo/cpputils-cmake.git
